In [1]:
import pandas as pd
import sys

from if_license_plates_could_talk import data

In [2]:
df = pd.read_csv("../data/raw/crime/bka/2018/BKA-LKS-F-03-T01-Kreise_csv.csv", encoding="ISO-8859-1",
                     delimiter=";", skiprows=1, thousands=",")
crime_clm = "crimes_2018"
df.rename(columns={"Gemeindeschlüssel": "kreis_key", "Anzahl erfasste Faelle": crime_clm,
              "erfasste Fälle": crime_clm, "Gemeindeschluessel": "kreis_key", "erfasste Faelle": crime_clm}, inplace=True)

In [3]:
potential_fraud_categories = ["Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB", "Urkundenfälschung §§ 267-271, 273-279, 281 StGB"]

In [4]:
df_fraud = df[data.crime.fraud_filter(df)][["kreis_key", "Straftat", "crimes_2018"]]

In [5]:
df_fraud.head()

      kreis_key                                          Straftat  crimes_2018
8421       1001  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB          765
8422       1002  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB         2118
8423       1003  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB         1889
8424       1004  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB         1253
8425       1051  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB          820

In [6]:
df_fraud.groupby("kreis_key").sum().reset_index()

     kreis_key  crimes_2018
0         1001          886
1         1002         2406
2         1003         2138
3         1004         1488
4         1051          945
..         ...          ...
396      16073          631
397      16074          767
398      16075          641
399      16076          750
400      16077          939

[401 rows x 2 columns]

In [7]:
df_fraud.head()

      kreis_key                                          Straftat  crimes_2018
8421       1001  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB          765
8422       1002  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB         2118
8423       1003  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB         1889
8424       1004  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB         1253
8425       1051  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB          820