In [28]:
import pandas as pd
import sys
sys.path.append("../src/if_license_plates_could_talk")
import data.crime

In [29]:
df = pd.read_csv("../data/raw/crime/bka/2018/BKA-LKS-F-03-T01-Kreise_csv.csv", encoding="ISO-8859-1",
                     delimiter=";", skiprows=1, thousands=",")
crime_clm = "crimes_2018"
df.rename(columns={"Gemeindeschlüssel": "kreis_key", "Anzahl erfasste Faelle": crime_clm,
              "erfasste Fälle": crime_clm, "Gemeindeschluessel": "kreis_key", "erfasste Faelle": crime_clm}, inplace=True)

In [30]:
# Types of crime

crime_cats = pd.DataFrame(df.Straftat.unique())
crime_cats.columns = ["Kategorie"]
crime_cats.to_csv("../data/raw/crime/bka/2018/crime_cats.csv")

In [31]:
potential_fraud_categories = ["Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB", "Urkundenfälschung §§ 267-271, 273-279, 281 StGB"]

In [32]:
df_fraud = df[data.crime.fraud_filter(df)][["kreis_key", "Straftat", "crimes_2018"]]

In [33]:
df_fraud.head()

      kreis_key                                          Straftat  crimes_2018
8421       1001  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB          765
8422       1002  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB         2118
8423       1003  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB         1889
8424       1004  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB         1253
8425       1051  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB          820

In [36]:
df_fraud.groupby("kreis_key").sum().reset_index()

     kreis_key  crimes_2018
0         1001          926
1         1002         2591
2         1003         2539
3         1004         1871
4         1051         1012
..         ...          ...
396      16073          704
397      16074          809
398      16075          646
399      16076          771
400      16077         1091

[401 rows x 2 columns]

In [35]:
df_fraud.head()

      kreis_key                                          Straftat  crimes_2018
8421       1001  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB          765
8422       1002  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB         2118
8423       1003  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB         1889
8424       1004  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB         1253
8425       1051  Betrug §§ 263, 263a, 264, 264a, 265, 265a-e StGB          820