In [7]:
import pandas as pd

## Kriminalfälle je Region

In [8]:
df_bka = pd.read_csv("BKA-LKS-F-03-T01-Kreise_csv.csv", encoding="ISO-8859-1", thousands = ",", sep=";", skiprows=1)

df_bka.head()

,Schluesse,Straftat,Gemeindeschluessel,Stadt-/Landkreis,Kreisart,erfasste Faelle,HZ nach Zensus,Versuche - Anzahl,Versuche - Anteil in %,mit Schusswaffe gedroht,mit Schusswaffe geschossen,aufgeklaerte Faelle,Aufklaerungsquote,Tatverdaechtige insgesamt,Tatverdaechtige - maennlich,Tatverdaechtige - weiblich,Nichtdeutsche Tatverdaechtige - Anzahl,Nichtdeutsche Tatverdaechtige - Anteil in %
0,------,Straftaten insgesamt,1001,Flensburg,KfS,8907,10187,841,9.4,11,5,5177,58.1,3493,2716,777,1182,33.8
1,------,Straftaten insgesamt,1002,Kiel,KfS,23934,9673,1958,8.2,27,13,11493,48.0,7949,6099,1850,2194,27.6
2,------,Straftaten insgesamt,1003,Lübeck,KfS,23614,10896,1829,7.7,23,15,12964,54.9,8405,6336,2069,1958,23.3
3,------,Straftaten insgesamt,1004,Neumünster,KfS,9751,12238,681,7.0,13,8,6325,64.9,5026,3560,1466,2496,49.7
4,------,Straftaten insgesamt,1051,Dithmarschen,K,7262,5437,515,7.1,9,6,4034,55.5,3024,2230,794,445,14.7

In [9]:
df_bka = df_bka[df_bka["Straftat"] == "Straftaten insgesamt"]
df_bka.rename(columns = {"Gemeindeschluessel": "kreis_key", "Stadt-/Landkreis" : "kreis_name", "erfasste Faelle": "crimes"}, inplace = True)
df_bka = df_bka[["kreis_key", "kreis_name", "crimes"]]

In [10]:
df_bka.head()

   kreis_key    kreis_name  crimes
0       1001     Flensburg    8907
1       1002          Kiel   23934
2       1003        Lübeck   23614
3       1004    Neumünster    9751
4       1051  Dithmarschen    7262

In [11]:
df_bka.to_csv("crimes.csv")