In [26]:
import pandas as pd
import os

In [27]:
df_plates = pd.read_csv(os.path.join("license_plates", "license_plates.csv"), index_col = 0)
df_crimes = pd.read_csv(os.path.join("crime", "crimes.csv"), index_col = 0)
df_income = pd.read_csv(os.path.join("income", "income.csv"), index_col = 0)
df_population = pd.read_csv(os.path.join("population", "population.csv"), index_col = 0)

In [28]:
df_plates.head()

  license_plate  kreis_key
0            AM       9361
1            AN       9561
2            AB       9661
3             A       9761
4           BAD       8211

In [29]:
df_crimes.head()

,kreis_key,crimes_2013,crimes_2014,crimes_2015,crimes_2016,crimes_2017,crimes_2018,crimes_2019,crimes_2020
0,1001,8876.0,9754.0,10828.0,9993.0,8907.0,8156.0,8617.0,8380.0
1,1002,24043.0,24380.0,26078.0,25908.0,23934.0,24621.0,22452.0,21384.0
2,1003,24526.0,24907.0,22881.0,25647.0,23614.0,22685.0,21768.0,20942.0
3,1004,11737.0,13078.0,17418.0,14524.0,9751.0,10688.0,11397.0,9453.0
4,1051,7248.0,7189.0,7345.0,7661.0,7262.0,7224.0,6786.0,6597.0

In [30]:
df_income.head()

,kreis_key,income_pp_2000,income_pp_2001,income_pp_2002,income_pp_2003,income_pp_2004,income_pp_2005,income_pp_2006,income_pp_2007,income_pp_2008,...,income_2009,income_2010,income_2011,income_2012,income_2013,income_2014,income_2015,income_2016,income_2017,income_2018
1,1001,14763,15144,15177,15499,15453,16215,16827,17521,17409,...,1430461,1418785,1448058,1493399,1505825,1518602,1557509,1571451,1627397,1671015
2,1002,14348,14833,14909,15295,15354,15770,15940,16322,16563,...,3903615,3939614,4034330,4158259,4310035,4283943,4434181,4559584,4692052,4804347
3,1003,14467,14977,15191,15890,16157,16538,16697,16921,17042,...,3587403,3577055,3652388,3764155,3808498,3885301,4093123,4139659,4256285,4361215
4,1004,14766,15487,15216,15324,15032,15438,15697,16022,16142,...,1253945,1248038,1274049,1313171,1340109,1388380,1420594,1493064,1532486,1570313
5,1051,14038,14651,14687,15283,15777,16071,16290,16738,17251,...,2332173,2368402,2456280,2523783,2586597,2665499,2775558,2851506,2944465,2999606

In [31]:
df = df_plates.merge(df_income, on = "kreis_key", how = "outer")
df = df.merge(df_crimes, on = "kreis_key", how = "outer")
df = df.merge(df_population, on = "kreis_key", how = "outer")

In [32]:
df.head()

,license_plate,kreis_key,income_pp_2000,income_pp_2001,income_pp_2002,income_pp_2003,income_pp_2004,income_pp_2005,income_pp_2006,income_pp_2007,...,population_2011,population_2012,population_2013,population_2014,population_2015,population_2016,population_2017,population_2018,population_2019,kreis_name
0,AM,9361,16120,16451,16433,16878,17318,17724,18326,18841,...,41912,41684,41585,41564,41698,42105,42298,42109,42089,Amberg
1,AN,9561,17507,18162,17736,17849,18038,18022,17955,18110,...,39574,39642,39762,39925,40585,41346,41592,41750,41823,Ansbach
2,AB,9661,17228,17972,17975,18703,19305,19802,20393,20802,...,67398,67576,67763,68006,68577,69087,69558,70228,70765,Aschaffenburg
3,A,9761,15590,16010,15969,16279,16471,16432,16547,16754,...,268376,271051,274621,278827,283743,287979,291218,293993,295859,Augsburg
4,BAD,8211,25133,25229,23987,23945,23923,25003,26262,27180,...,52404,52505,52799,53177,53751,54234,54513,54921,55154,"Baden-Baden, Stadtkreis"

In [33]:
df.to_csv("data.csv")

In [34]:
df.columns

Index(['license_plate', 'kreis_key', 'income_pp_2000', 'income_pp_2001',
       'income_pp_2002', 'income_pp_2003', 'income_pp_2004', 'income_pp_2005',
       'income_pp_2006', 'income_pp_2007', 'income_pp_2008', 'income_pp_2009',
       'income_pp_2010', 'income_pp_2011', 'income_pp_2012', 'income_pp_2013',
       'income_pp_2014', 'income_pp_2015', 'income_pp_2016', 'income_pp_2017',
       'income_pp_2018', 'income_2000', 'income_2001', 'income_2002',
       'income_2003', 'income_2004', 'income_2005', 'income_2006',
       'income_2007', 'income_2008', 'income_2009', 'income_2010',
       'income_2011', 'income_2012', 'income_2013', 'income_2014',
       'income_2015', 'income_2016', 'income_2017', 'income_2018',
       'crimes_2013', 'crimes_2014', 'crimes_2015', 'crimes_2016',
       'crimes_2017', 'crimes_2018', 'crimes_2019', 'crimes_2020',
       'population_1995', 'population_1996', 'population_1997',
       'population_1998', 'population_1999', 'population_2000',
       'population_2001', 'population_2002', 'population_2003',
       'population_2004', 'population_2005', 'population_2006',
       'population_2007', 'population_2008', 'population_2009',
       'population_2010', 'population_2011', 'population_2012',
       'population_2013', 'population_2014', 'population_2015',
       'population_2016', 'population_2017', 'population_2018',
       'population_2019', 'kreis_name'],
      dtype='object')