In [21]:
import pandas as pd
import os

## Merge license plates and crimes

In [22]:
df_license_plates = pd.read_csv(os.path.join("license_plates", "license_plates.csv"), index_col = 0)
df_crimes = pd.read_csv(os.path.join("crime", "crimes.csv"), index_col = 0)

In [23]:
df = df_license_plates.merge(df_crimes[["kreis_key", "crimes"]], on = "kreis_key").sort_values(by = "license_plate").reset_index(drop=True)

In [24]:
# sanity check

def sanity_check(df1, df2, columns = ["kreis_key", "kreis_name"]):
    df1_check = df1[["kreis_key", "einw"]].drop_duplicates()
    print(f"Total population : { sum(df1_check.einw) :,d}")
    print("Dropped rows: ")
    return pd.concat([df1[columns].drop_duplicates(), df2[columns].drop_duplicates()]).drop_duplicates(keep=False).head()

sanity_check(df, df_license_plates)

Total population : 83,143,732
Dropped rows:

Empty DataFrame
Columns: [kreis_key, kreis_name]
Index: []

## Merge with income data

In [25]:
df_income = pd.read_csv(os.path.join("income", "income.csv"), index_col = 0)

In [26]:
df2 = df.merge(df_income, on = "kreis_key").sort_values(by = "license_plate").reset_index(drop=True)

In [27]:
#sanity check
sanity_check(df2, df_license_plates)

Total population : 83,143,732
Dropped rows:

Empty DataFrame
Columns: [kreis_key, kreis_name]
Index: []

In [28]:
df2.to_csv("data.csv")